[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = {editable = true,extras = ["voice"],git = "https://github.com/Rapptz/discord.py",ref = "master"}
parsedatetime = "*"
python-dotenv = "*"
asyncpg = "*"
menus = {editable = true,git = "https://github.com/Rapptz/discord-ext-menus"}
python-dateutil = "*"
youtube-dl = "*"
ffmpeg = "*"
discord = {extras = ["voice"], version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
