[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
discord-py = {extras = ["voice"],git = "https://github.com/Rapptz/discord.py",ref = "master"}
parsedatetime = "*"
python-dotenv = "*"
asyncpg = "*"
menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
python-dateutil = "*"
youtube-dl = "*"
ffmpeg = "*"
better-profanity = "*"
wavelink = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
