[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
discord-py = {extras = ["voice"],git = "https://github.com/Rapptz/discord.py",ref = "master"}
parsedatetime = "*"
python-dotenv = "*"
asyncpg = "*"
python-dateutil = "*"
youtube-dl = "*"
ffmpeg = "*"
better-profanity = "*"
wavelink = "*"
numpy = "*"
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
pillow = "*"
discord-ext-alternatives = "*"
discord-flags = "*"
"discord.py-stubs" = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
